<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.myapp.mapper.MqttSubscriptionMapper">

    <!-- 批量删除 MQTT 订阅记录，需要注意 in 的限制 -->
    <delete id="deleteSubscriptions">
        DELETE FROM mqtt_subscriptions
        WHERE topic IN
        <foreach collection="topics" item="topic" open="(" separator="," close=")">
            #{topic}
        </foreach>
        AND user_id = #{userId}
    </delete>

</mapper>